@model NTierProject.MODEL.Entities.AppUser

@{
    ViewBag.Title = "Kullanıcı Sil";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    @ViewBag.Title
                </header>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Ad, Soyad : </strong>@Model.Name @Model.SurName</li>
                        <li class="list-group-item"><strong>Kullanıcı Adı : </strong>@Model.UserName</li>
                        <li class="list-group-item"><strong>Email : </strong>@Model.Email</li>
                        <li class="list-group-item">
                            <img src="@Model.ImagePath" style="width:64px; height:64px" />
                        </li>
                    </ul>
                    @using (Html.BeginForm())
                    {
                        <button type="submit" class="btn btn-info">Sil</button>
                        <a href="@Url.Action("Index", "AppUser")" class="btn btn-default">Kullanıcılara geri dön</a>
                    }
                </div>
            </section>
        </div>
    </div>


