@using NTierProject.CORE.Enums
@model List<AppUser>
@{
    ViewBag.Title = "Kullanıcılar";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@ViewBag.Title</h6>
        @Html.ActionLink("Yeni Kullanıcı Ekle", "Create", null, new { @class = "pull-right-mycss" })
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Görsel</th>
                        <th>Adı</th>
                        <th>Soyadı</th>
                        <th>Kullanıcı Adı</th>
                        <th>Email</th>
                        <th>Adres</th>
                        <th>Telefon</th>
                        <th>Doğum Tarihi</th>
                        <th>Seviye</th>
                        <th>Aktif/Pasif</th>
                        <th>Oluşturma Tarihi</th>
                        <th>Düzenle</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Görsel</th>
                        <th>Adı</th>
                        <th>Soyadı</th>
                        <th>Kullanıcı Adı</th>
                        <th>Email</th>
                        <th>Adres</th>
                        <th>Telefon</th>
                        <th>Doğum Tarihi</th>
                        <th>Seviye</th>
                        <th>Aktif/Pasif</th>
                        <th>Oluşturma Tarihi</th>
                        <th>Düzenle</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <img src="@item.ImagePath" class="img-sm-mycss" />
                            </td>
                            <td>@item.Name</td>
                            <td>@item.SurName</td>
                            <td>@item.UserName</td>
                            <td>@item.Email</td>
                            <td>@item.Address</td>
                            <td>@item.PhoneNumber</td>
                            <td>@(((DateTime)item.BirthDate).ToShortDateString())</td>
                            @if (item.Role == Role.Banned)
                            {
                                <td>Yasaklı</td>
                            }
                            else if (item.Role == Role.Member)
                            {
                                <td>Üye</td>
                            }
                            else
                            {
                                <td>Yönetici</td>
                            }

                            @if (item.isActive)
                            {
                                <td>Aktif</td>
                            }
                            else
                            {
                                <td>Pasif</td>
                            }
                            <td>@item.CreatedDate</td>
                            <td>
                                @Html.ActionLink("Düzenle", "Edit", new { id = item.ID }, new { @class = "btn btn-primary" }) |
                                @Html.ActionLink("Sil", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" }) |
                                @Html.ActionLink("Şifreyi Sıfırla", "ResetPassword", new { id = item.ID }, new { @class = "btn btn-warning" }) 
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>