@model List<NTierProject.MODEL.Entities.Order>
@{
    ViewBag.Title = "Tüm Siparişler";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@ViewBag.Title</h6>
        @Html.ActionLink("Yeni Sipariş Ekle", "Create", null, new { @class = "pull-right-mycss" })
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            AppUserID
                        </th>
                        <th>
                            AppUser
                        </th>
                        <th>
                            Confirmed
                        </th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>
                            AppUserID
                        </th>
                        <th>
                            AppUser
                        </th>
                        <th>
                            Confirmed
                        </th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.AppUserID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AppUser)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Confirmed)
                            </td>
                            @switch (item.Status)
                            {
                                case NTierProject.CORE.Enums.Status.Active:
                                    <td>
                                        Aktif
                                    </td>
                                    break;
                                case NTierProject.CORE.Enums.Status.Deleted:
                                    <td>
                                        Silinmiş
                                    </td>
                                    break;
                                case NTierProject.CORE.Enums.Status.Updated:
                                    <td>
                                        Değiştirilmiş
                                    </td>
                                    break;
                            }
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>