@model List<NTierProject.MODEL.Entities.Order>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           AppUserID
        </th>
        <th>
            AppUser
        </th>
        <th>
            Confirmed
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppUserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Confirmed)
            </td>
            @switch (item.Status)
            {
                case NTierProject.CORE.Enums.Status.Active:
                    <td>
                        Aktif
                    </td>
                    break;
                case NTierProject.CORE.Enums.Status.Deleted:
                    <td>
                        Silinmiş
                    </td>
                    break;
                case NTierProject.CORE.Enums.Status.Updated:
                    <td>
                        Değiştirilmiş
                    </td>
                    break;
            }
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>