@model List<Product>
@{
    ViewBag.Title = "Ürünler";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@ViewBag.Title</h6>
        @Html.ActionLink("Yeni Ürün Ekle", "Create", null, new { @class = "pull-right-mycss" })
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Görsel</th>
                        <th>Ürün Adı</th>
                        <th>Stok</th>
                        <th>Kategori Adı</th>
                        <th>Düzenle</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Görsel</th>
                        <th>Ürün Adı</th>
                        <th>Stok</th>
                        <th>Kategori Adı</th>
                        <th>Düzenle</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <img src="@item.ImagePath" class="img-sm-mycss" />
                            </td>
                            <td>@item.ProductName</td>
                            <td>@item.UnitsInStock</td>
                       
                            @try
                            {
                                <td>@item.SubCategory.Name</td>
                            }
                            catch (Exception ex)
                            {

                                <td>@ex.Message</td>
                            }
                            <td>
                                @Html.ActionLink("Düzenle", "Update", "Product", new { id = item.ID }, new { @class = "btn btn-primary" }) |
                                @Html.ActionLink("Sil", "Delete", "Product", new { id = item.ID }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>